#setup folders
build
dist
hltproject.egg-info

#embeddings folder (computed)
embeddings
bert-embeddings
utils

#models folders
hltproject/ensemble/model_7_weights
hltproject/ensemble/model_9/weights
hltproject/ensemble/model_5/bert
hltproject/ensemble/test_ensemble*

#compiled stuff
*.py[cod]
*__pycache__
*.mw
#virtualenv stuff
venv/
