#setup folders
build
dist
hltproject.egg-info

#embeddings folder (computed)
embeddings
bert-embeddings
utils

#models folders
hltproject/ensemble/model_7_weights

#compiled stuff
*.py[cod]
*__pycache__

#virtualenv stuff
venv/
